<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Laporan Barang</title>
</head>
<body>
<h2>Form Laporan Barang</h2>
<form action="https://script.google.com/macros/s/AKfycbyET9ITEquXH5xnrzOBXZEP4C7_9q7u3zyz3SrzKaA3SZVNMb-gHTAQf0Rn6jgnWtNO4w/exec" method="POST">
  Hari/Tanggal: <input type="text" name="tanggal"><br><br>
  Jam: <input type="text" name="jam"><br><br>
  Material dan Jumlah: <input type="text" name="material"><br><br>
  Keterangan: <input type="text" name="keterangan"><br><br>
  <button type="submit">Submit</button>
</form>
</body>
</html>

